*.pyc
*.egg
*.so
build/
dist/
env/
*.egg-info/
TAGS
*~
.DS_Store
.idea
.vscode
spelling/spelling_wordlist.txt
.tox/
.coverage/
*.swp

# Created by pbr
AUTHORS
ChangeLog
/.coverage
/.testrepository/
/cover/
.eggs/
