@import "default.css"; 

/* Sword folding style */
.open-fold   .Folded        { display: none; }
.open-fold   .fulltext      { display: inline; }
.open-fold   .toggle-open   { display: none; }
.open-fold   .toggle-closed { display: inline; }
.closed-fold .Folded        { display: inline; }
.closed-fold .fulltext      { display: none; }
.closed-fold .toggle-open   { display: inline; }
.closed-fold .toggle-closed { display: none; }
