include README
include LICENSE
include CREDITS
include CHANGES.rst
include tox.ini
recursive-include sphinxcontrib *.css
recursive-include doc *.rst *.py Makefile
recursive-include tests *.py
prune doc/_build
