name: History Update

on:
  - push
  - pull_request

jobs:
  history-update:
    runs-on: ubuntu-latest
    if: ${{ !startsWith(github.ref, 'refs/tags') }}

    strategy:
      fail-fast: false

    steps:
      - uses: actions/checkout@v3
        # Get all of the git history. https://github.com/actions/checkout
        with:
          fetch-depth: 0

      - name: Check for history.rst update
        if: startsWith(github.ref, 'refs/tags') != true
        run: ./tools/history-update.sh
