name: Integration Tests

on:
  - push
  - pull_request

jobs:
  django:
    runs-on: ubuntu-latest
    if: ${{ !startsWith(github.ref, 'refs/tags') }}

    strategy:
      fail-fast: false

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: python3 -m pip install tox

      - name: Build docs
        run: python3 ./integration_tests/build_django.py
